{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <p align="justify"

        <br> Recently, federal emergency management agency (FEMA) published its flood claim experience data. The dataset represents more than
        two million claim transactions from 1970 to 2019. Machine learning and deep learning techniques were applied to this dataset
        in order to provide a sound approach to quantify the loss ratio (loss / insured value) of buildings with different attributes
        using historical claim data.
    </p>

    <img style="float:left;" src="static/graph.png" >

    <p align="justify"
        <br> By utilizing this web-app, flood insurance companies and people who are interested in buying a property can better evaluate the risk of
        flooding for the structure. Insurance companies can leverage this tool to evaluate and decide if they want to:
        <br>
        <br>    1- Accept the risk.
        <br>    2- Mitigate the risk by increasing the premiums.
        <br>    3- Avoid writing the risk.
    </p>
    <p align="justify"
        <br> Homeowners/homebuyers can also leverage this tool to decide whether they need to purchase flood insurance.
    <br>
    <br> There are many other attributes that can cause flooding. This tool only uses the historical claims data and doesn't guarantee
        the results to be accurate. We do not take any responsibility regarding the outputs of this tool and how it will be used.
        Please contact me at faraz.zorofchi@gmail.com if you have any questions regarding this project.
    <div>
        <a target="_blank" href="https://www.linkedin.com/in/faraz-h-zorofchi/">Linkedin profile</a>
    </div>
    </p>


{% endblock %}