{% extends "layout.html" %}

{% block title %}
    Course List
{% endblock %}

{% block main %}
<form action="/history" method="post">

    <table style="font-size:70%" class="table table-striped">
        <thead>
            <tr>
                <th>Agr</th>
                <th>Basement</th>
                <th>Condo</th>
                <th>Policy Count</th>
                <th>CRS Discount</th>
                <th>Elevated Building</th>
                <th>Elevation Difference</th>
                <th>Flood Zone</th>
                <th>House Worship</th>
                <th>Location of Contents</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Num Stories</th>
                <th>Non-Profit</th>
                <th>Obstruction Type</th>
                <th>Occupancy Type</th>
                <th>Post Firm</th>
                <th>Year Built</th>
                <th>ZIP Code</th>
                <th>Date Searched</th>
                <th>Loss Ratio</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions %}
                <tr>
                    <td>{{ item.agriculture_structure_indicator }}</td>
                    <td>{{ item.basement_enclosure_crawlspace_type }}</td>
                    <td>{{ item.condominium_coverage_type_code }}</td>
                    <td>{{ item.policy_count }}</td>
                    <td>{{ item.crs_classification_code }}</td>
                    <td>{{ item.elevated_building_indicator }}</td>
                    <td>{{ item.elevation_difference }}</td>
                    <td>{{ item.rated_flood_zone }}</td>
                    <td>{{ item.house_worship }}</td>
                    <td>{{ item.location_of_contents }}</td>
                    <td>{{ item.latitude }}</td>
                    <td>{{ item.longitude }}</td>
                    <td>{{ item.number_of_floors_in_the_insured_building }}</td>
                    <td>{{ item.non_profit_indicator }}</td>
                    <td>{{ item.obstruction_type }}</td>
                    <td>{{ item.occupancy_type }}</td>
                    <td>{{ item.post_f_i_r_m_construction_indicator }}</td>
                    <td>{{ item.original_construction_date }}</td>
                    <td>{{ item.reported_zip_code }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.predicted_loss_ratio }}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-primary" type="submit">Delete All</button>
                </td>

            </tr>
        </tfoot>

    </table>
</form>
{% endblock %}