{% extends "layout.html" %}

{% block title %}
    Course List
{% endblock %}

{% block main %}
<form action="/history" method="post">

    <table style="font-size:70%" class="table table-striped">
        <thead>
            <tr>
                <th>Agr</th>
                <th>Basement</th>
                <th>Condo</th>
                <th>Policy Count</th>
                <th>CRS Discount</th>
                <th>Elevated Building</th>
                <th>Elevation Difference</th>
                <th>Flood Zone</th>
                <th>House Worship</th>
                <th>Location of Contents</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Num Stories</th>
                <th>Non-Profit</th>
                <th>Obstruction Type</th>
                <th>Occupancy Type</th>
                <th>Post Firm</th>
                <th>Year Built</th>
                <th>ZIP Code</th>
                <th>Date Searched</th>
                <th>Loss Ratio</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.agr }}</td>
                    <td>{{ transaction.basement }}</td>
                    <td>{{ transaction.condo }}</td>
                    <td>{{ transaction.policycount }}</td>
                    <td>{{ transaction.crsdiscount }}</td>
                    <td>{{ transaction.elevatedbuilding }}</td>
                    <td>{{ transaction.elevationdifference }}</td>
                    <td>{{ transaction.floodzone }}</td>
                    <td>{{ transaction.houseworship }}</td>
                    <td>{{ transaction.locationofcontents }}</td>
                    <td>{{ transaction.latitude }}</td>
                    <td>{{ transaction.longitude }}</td>
                    <td>{{ transaction.numstories }}</td>
                    <td>{{ transaction.nonprofit }}</td>
                    <td>{{ transaction.obstructiontype }}</td>
                    <td>{{ transaction.occupancytype }}</td>
                    <td>{{ transaction.postfirm }}</td>
                    <td>{{ transaction.yearbuilt }}</td>
                    <td>{{ transaction.zipcode }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.lossratio }}</td>

                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-primary" type="submit">Delete All</button>
                </td>

            </tr>
        </tfoot>

    </table>
</form>
{% endblock %}